In [ ]:
Ans1:

In [ ]:
A database is a software system that stores and manages data in a structured and organized 
way, making it easy to retrieve, update, and query information.

In [ ]:
SQL, or Structured Query Language, is a relational database management system (RDBMS)
that uses a tabular structure to store data,where each row represents a record and each column
represents a field or attribute of the record.

In [ ]:
NoSQL, or Not Only SQL, is a non-relational database management system that uses a document-oriented
or key-value pair storage model to store data.

In [ ]:
Ans2:

In [ ]:
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) 
that is used to define and manage the structure of a database.

In [ ]:
CREATE: The CREATE statement is used to create new database objects such as tables,
views, procedures, indexes, and more.

In [ ]:
CREATE TABLE students (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT,
  gender VARCHAR(10)
);

In [ ]:
DROP: The DROP statement is used to remove database objects such as tables, views,
procedures, indexes, and more.

In [ ]:
DROP TABLE students;

In [ ]:
ALTER: The ALTER statement is used to modify the structure of an existing database
object such as a table, view, procedure, or index.

In [ ]:
ALTER TABLE students
ADD COLUMN email VARCHAR(50);

In [ ]:
TRUNCATE: The TRUNCATE statement is used to remove all data from a table while keeping the structure intact.

In [ ]:
TRUNCATE TABLE students;

In [ ]:
Ans3:

In [ ]:
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) 
used to manipulate data stored in a database.

In [ ]:
INSERT: The INSERT statement is used to insert new data into a table.

In [ ]:
INSERT INTO students (id, name, age, gender)
VALUES (1, 'John', 20, 'Male');

In [ ]:
UPDATE: The UPDATE statement is used to modify existing data in a table.

In [ ]:
UPDATE students
SET age = 21
WHERE id = 1;

In [ ]:
DELETE: The DELETE statement is used to remove data from a table.

In [ ]:
DELETE FROM students
WHERE id = 1;

In [ ]:
Ans4:

In [ ]:
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) 
used to retrieve data from a database.

In [ ]:
SELECT: The SELECT statement is used to retrieve data from one or more tables in a database.

In [ ]:
Example:

In [ ]:
SELECT * FROM students;

In [ ]:
Ans5:

In [ ]:
A primary key is a column or a set of columns that uniquely identifies each row in a table.

In [ ]:
A foreign key is a column or a set of columns that establishes a relationship between two tables in a database. 
It refers to the primary keyin another table to create a link between them.

In [ ]:
Ans6:

In [ ]:
import mysql.connector

# connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM yourtable")

# fetch the result
result = mycursor.fetchall()

# print the result
for row in result:
  print(row)

In [ ]:
 cursor() method creates a cursor object, which is used to execute SQL queries and fetch the results.

In [ ]:
The execute() method is used to execute a SQL query.
It takes a string parameter that contains the SQL query to be executed.

In [ ]:
Ans7:

In [ ]:
The order of execution of SQL clauses in an SQL

In [ ]:
FROM clause
WHERE clause
GROUP BY clause
HAVING clause
SELECT clause
ORDER BY clause
LIMIT clause