In [ ]:
Ans1:

In [ ]:
The for loop is used when the number of iterations is already known.

A "while" loop is used when the number of iterations is unknown. The statement repeats itself till the boolean value becomes false.

Example: For loop

n = [1, 2, 3]  
for i in n: 
    print(i)
    
Example: While loop

i = 1  
while i < 6:  
    print(i)
    i += 1

In [ ]:
Ans2:

Sum of first 10 natural numbers and product of first 10 natural number using for loop :

In [5]:
addition = 0

for i in range(1,11):
    addition = addition + i

addition

55

In [6]:
product = 1

for i in range(1,11):
    product = product * i
    
product

3628800

Sum of first 10 natural numbers and product of first 10 natural number using while loop :

In [7]:
addition1 = 0
i = 1 

while i <= 10:
    addition1 = addition1 + i
    i += 1
addition1

55

In [8]:
product1 = 1

i = 1

while i <= 10:
    product1 = product1 * i
    i += 1
product1

3628800

In [ ]:
Answer3:

In [5]:
units = int(input('enter consumed electricity in units'))

if units <= 100:
    electricity_bill = unit * 4.5
elif units <= 200:
    electricity_bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    electricity_bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    electricity_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units-300)*20
    
print(electricity_bill)

enter consumed electricity in units 310

2250.0

In [ ]:
Ans4:
# using for loop

In [28]:
l = list(range(1,101))

l0 = []

n = 1
for i in l :
    n = i*i*i
   # print (n)
    if n % 4 == 0 and n % 5 == 0 :
        l0.append(n)
print(l0)

[1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [ ]:
Ans5:
# using while loop

In [27]:
l = list(range(1,101))

l1 = []

x = 1

y = 0

while x <= len(l):
    
    y = x*x*x
    
    x = x+1
   # print(y)
    if y % 4 == 0 and y % 5 == 0 :
        l1.append(y)
print(l1)

[1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [ ]:
Ans 5 :

In [23]:
string = 'i want to become a datascientist'

count = 0 

for i in string:
    if i in ['a','e','i','o','u']:
        count += 1
print(count)

12